#wrapper {
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
}

#wrapper-gif{
    width: 80%;
    text-align: center;
    padding-left: 15%;
    padding-top: 3%;
}

.title {
    background: rgb(6, 43, 33);
    color: white; 
    font-family: 'Monofett', cursive;
    font-size: 50px;
    padding: 1%;
}

#form{
    font-size: 20px;
    border: 2px gray solid;
    padding: 3%;
    margin-top: 0;
    font-family: 'Lexend Giga', sans-serif;
}

#submit{
    font-size: 15px;
    font-family: 'Lexend Giga', sans-serif;
}

#searchTerm{
    font-size: 15px;
    font-family: 'Lexend Giga', sans-serif;
}

button {
    background-color: rgb(6, 43, 33);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
}

#buttons-appear-here{
    border: 2px gray solid;
}

#gifs-appear-here{
    padding: 0px, 50px;
    background-color: pink;
}

.paintWrapper{
    float: left;
    margin-right: 10px;
    padding-top: 10px;
}